html {
    --background-color: #fff;
    --text-color: #000;
    --header-background-color: #f7f8fa;
    --header-border: #ecedf1;
    --header-button-hover: #ecedf1;
    --configuration-item-hover: #cfdefd;
    --scrollbar-thumb-color: #d2d2d2;
    --terminal-header-border: #ecedf1;
    --terminal-header: #f7f8fa;
    --terminal-header-text: #000;
    --terminal-close-button: #777b88;
    --terminal-close-button-hover: #ecedf1;
    --terminal-text: #000;
    --terminal-background: #fff;
    --terminal-ok: #26ad2c;
    --terminal-error: #c02929;
    --playground-link: #4f4f4f;
    --run-embeded-icon-color: #000000;

    --completion-variant-background: #cfdefd;
    --completion-variant-color: #000;
    --completion-module-icon: url("../images/module-light.svg");
    --completion-type-icon: url("../images/type-light.svg");
}

html[data-theme='dark'] {
    --background-color: #1e1f22;
    --text-color: #e0e0e0;
    --header-background-color: #2a2a2d;
    --header-border: #2a2a2d;
    --header-button-hover: #393b41;
    --configuration-item-hover: #2f446e;
    --scrollbar-thumb-color: #404042;
    --terminal-header-border: #323438;
    --terminal-header: #2a2a2d;
    --terminal-header-text: #f7f8fa;
    --terminal-close-button: #d9dbe2;
    --terminal-close-button-hover: #393b41;
    --terminal-text: #BBBBBB;
    --terminal-background: #000;
    --terminal-ok: #43c449;
    --terminal-error: #e04949;
    --playground-link: #8d8d8d;
    --run-embeded-icon-color: #fff;

    --completion-variant-background: #2e436e;
    --completion-variant-color: #b4b8c0;
    --completion-module-icon: url("../images/module.svg");
    --completion-type-icon: url("../images/type.svg");
}
